// main: wizard-main.styl, out: $1.css, sourcemap: true, compress: false
nav
  height navbarHeight
  overflow-x hidden
  display flex
  flex-wrap nowrap
  flex-direction row
  background-color white
  button
    -webkit-appearance none
    appearance none
    background-color transparent
    padding 8px 16px
    margin 0
    white-space nowrap
    border none
    border-top 1px solid #cecece
    display inline-block
    flex 1
    outline none
    cursor pointer
    &.active
      background-color #e6e6e6
      h2
        margin-top 0
