// main: wizard-main.styl, out: $1.css, sourcemap: true, compress: false
header
  background-color headerBgColor
  height headerHeight
  padding 4px
  display flex
  color white
  h1
    flex 1 0 auto
    font-size 25px
    line-height 37px
    margin 0
    text-align center
