// main: wizard-main.styl, out: $1.css, sourcemap: true, compress: false
:root
  --header-bg-color #24292e
  --scrollbars-width 10px
  --header-height 45px
  --navbar-height 42px
  --prenavbar-height 250px

headerHeight = var(--header-height)
navbarHeight = var(--navbar-height)
prenavbarHeight = var(--prenavbar-height)
headerBgColor = var(--header-bg-color)
scrollbarsWidth = var(--scrollbars-width)
