// main: wizard-main.styl, out: $1.css, sourcemap: true, compress: false
*
  box-sizing border-box

body
  margin 0
  padding 0
  overflow hidden
  main
    height fit-content

input
  border 1px solid #cecece
  border-radius 4px
  padding 8px
